<img class="img-responsive" src="/img/{{ slider.ImagePath }}" alt="{{ slider.Name }}">
<div class="container">
    <div class="carousel-centered">
        <div class="margin-b-40">
            <h1 class="carousel-title">{{ slider.Name }}</h1>
        </div>
        <a href="/#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Explore</a>
    </div>
</div>

<!--========== SLIDER ==========-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-ng-controller="SlidersController as sc">
    <div class="container">
        <!-- Indicators -->
        <ol class="carousel-indicators" data-ng-repeat="slider in sc.getSliders()">

            <li data-target="#{{ slider.Id }}" data-slide-to="{{ slider.Id }}" ng-class="{'active': $first}"></li>

        </ol>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" data-ng-repeat="slider in sc.getSliders()">

        <div ng-class="{'item active': $first, 'item': !$first}" data-ng-repeat="slider in sc.sliders" data-ng-include="'/WebPages/SliderListItem.html'"></div>

    </div>
</div>
<!--========== SLIDER ==========-->