<div id="imageDrop" class="dropzone"></div>

<script>

    Dropzone.options.dropzoneForm = {
        paramName: "file",
        maxFiles: 1,
        acceptedFiles: "image/*"
    };

    $("div#imageDrop").dropzone({ url: "/Sliders/FileUpload" });

</script>