@using Stolarus2.Admin.Helpers
@using Stolarus2.Data.Models

@{
    List<int> selectedProducts = ViewData.TemplateInfo.FormattedModelValue as List<int>;
}

<ul>
    @foreach (Product product in UIHelper.GetProducts())
    {
        <li>
            <input type="checkbox" name="ProductsTcmUri" value="@product.Id" id="@product.Id" @{if (selectedProducts != null && selectedProducts.Contains(product.Id)) { <text> checked='checked' </text>  } } />
            <label for="@product.Id">@product.Title</label>
        </li>
    }
</ul>