@using Stolarus2.Data.Properties
@using (Ajax.BeginForm(null, null,
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "modal-content",
        OnSuccess = "RefreshGrid(currentPageIndex);"
    },
    new { @id = "frmModal" }))
{

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Resources.Edit</h4>
    </div>
    <div class="modal-body">
        @Html.EditorForModel()
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="if ($('#frmModal').valid()) { $('#modal').modal('hide'); currentPageIndex = 1; PageToFirst(); $('#loader').modal('show') }">@Resources.Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Close</button>
    </div>
}